@import "fonts.scss";
@import "constants.scss";

// Components
@import "header.scss";
@import "vocabulary-list.scss";
@import "letter-chain.scss";

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

// CSS reset
input,
textarea,
button,
select,
a {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	outline: none;
}

.App {
	font-family: Nexa;
	color: white;

	display: flex;
	flex-direction: column;
	height: 100vh;

	transition: 0.25s;

	& > .lighter-container {
		border-top-left-radius: 40px;
		border-top-right-radius: 40px;
		padding: 3vh 6vw;

		display: flex;
		flex-direction: column;

		flex-shrink: 1;
		flex-grow: 1;

		& > button,
		& > .footer {
			margin: 2vh 0;
		}
	}

	&.default-theme {
		background: #0b4d3c;

		& > .lighter-container {
			background: #02825f;
		}
	}

	&.pastel-theme {
		background: #94c187;

		& > .lighter-container {
			background: #b6dcb6;
		}
	}
}

.btn-transparent {
	background: transparent;
	border: none;
	margin: 0;
	padding: 0;
	cursor: pointer;
}

.btn-dark-cyan,
.btn-transparent-bg {
	position: relative;
	font-family: Nexa;

	& > img {
		height: 11vh;
	}

	& > span {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;

		width: fit-content;
		height: fit-content;

		font-size: 3vh;
	}
}

.btn-transparent-bg {
	color: white;
}

.btn {
	position: relative;

	display: flex;
	justify-content: center;
	align-items: center;

	background: #4ea3ba;
	color: black;
	border: 4px solid white;

	border-radius: 16px;

	font-size: 15px;
	font-weight: bold;

	padding: 15px;

	.highlight-short,
	.highlight-long {
		position: absolute;
		background: white;
		top: 6px;
		height: 4px;

		border-radius: 2px;
	}

	.highlight-short {
		width: 10%;
		left: 10%;
	}

	.highlight-long {
		width: 30%;
		left: 30%;
	}

	.shadow-short,
	.shadow-long {
		position: absolute;
		background: #275985;
		bottom: 6px;
		height: 4px;
		border-radius: 2px;
	}

	.shadow-long {
		width: 30%;
		right: 30%;
	}

	.shadow-short {
		width: 10%;
		right: 10%;
	}
}

.start-player-list {
	display: flex;
	flex-direction: column;
	align-items: center;

	height: 30vh;

	.player {
		width: 100%;

		display: flex;
		justify-content: space-between;
		align-items: center;

		font-size: 3vh;

		.right-group {
			display: flex;
			align-items: center;
		}

		button {
			margin-left: 1vw;

			& > img {
				height: 6vh;
			}
		}
	}
}

.player-manager {
	display: flex;
	flex-direction: column;
	align-items: center;

	& > .player {
		width: 100%;

		display: flex;
		justify-content: space-between;
		align-items: center;

		font-size: 3vh;

		.empty {
			font-style: italic;
			opacity: 0.5;
		}

		button > img {
			height: 6vh;
		}
	}
}

.add-new-word {
	display: flex;
	flex-direction: column;

	.new-word-container {
		position: relative;

		width: 100%;
		height: 38vh;

		& > .bg {
			position: absolute;
			width: 100%;
			height: 100%;
		}

		.word-multiplier {
			position: relative;
			display: flex;
			justify-content: center;

			margin: 5vh 0;

			img {
				position: absolute;
				height: 10vh;
			}

			button {
				width: 10vh;
				height: 10vh;

				font-family: Nexa;
				font-weight: bold;
				font-size: 4vh;

				display: flex;
				justify-content: center;
				align-items: center;

				& > span {
					position: relative;
					color: black;
				}
			}
		}

		.letter-chain {
			position: relative;
			width: 100%;
			height: 8vh;

			display: flex;
			justify-content: space-around;
			align-items: center;

			&.empty {
				justify-content: center;
				align-items: center;
			}

			.letter-block {
				position: relative;
				width: 8vh;
				height: 8vh;

				@include absolute-bg;

				.big-letter {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					margin: auto;

					width: fit-content;
					height: fit-content;

					font-size: 3vh;
				}

				.value {
					position: absolute;
					text-align: right;
					right: 20%;
					bottom: 15%;
					font-size: 2vh;
				}
			}

			&.smaller .letter-block {
				width: 6vh;
				height: 6vh;

				.big-letter {
					font-size: 2vh;
				}

				.value {
					font-size: 1.5vh;
				}
			}

			&.smallest .letter-block {
				width: 4vh;
				height: 4vh;

				.big-letter {
					font-size: 1.5vh;
				}

				.value {
					font-size: 1.5vh;

					left: 0;
					right: 0;
					bottom: -2.5vh;
					text-align: center;

					margin: auto;
				}
			}
		}

		.multiplier-row {
			position: relative;
			width: 100%;
			height: 8vh;

			display: flex;
			justify-content: space-around;
			align-items: center;

			&.smaller > div {
					width: 6vh;
					height: 6vh;
			}

			&.smallest > div {
				width: 4vh;
				height: 4vh;
			}

			& > div {
				position: relative;

				display: flex;
				justify-content: center;
				align-items: center;

				width: 8vh;
				height: 8vh;

				@include absolute-bg;

				& > span {
					position: relative;
					font-size: 3vh;
				}
			}
		}
	}

	.calculated-score {
		text-align: center;
		font-size: 3vh;

		margin: 5vh 0;

		& > .big-score {
			font-family: Nexa;
			font-weight: bold;
			font-size: 4vh;
		}
	}

	& > button {
		display: flex;
		justify-content: center;
		align-items: center;

		height: 10vh;

		& > img {
			position: absolute;
			height: 10vh;
		}

		& > span {
			position: relative;
			font-size: 3vh;
		}
	}
}

.footer {
	text-align: center;
}
