@font-face {
	font-family: Nexa;
	font-weight: bold;
	src: url("./assets/fonts/NexaBlack.otf");
}

@font-face {
	font-family: Nexa;
	font-weight: normal;
	src: url("./assets/fonts/NexaXBold.otf");
}

.App {
	font-family: Nexa;
	background: #0b4d3c;
	color: white;

	display: flex;
	flex-direction: column;
	height: 100vh;

	& > .lighter-container {
		flex-shrink: 1;
		flex-grow: 1;
	}
}

.header-area {
	padding: 2vh 5vw;

	display: flex;
	justify-content: space-between;

	& > h1 {
		font-size: 4.5vh;
	}

	.right-group {
		display: flex;

		button > img {
			margin: 0 1vw;
			height: 8vh;
		}
	}
}

.btn-transparent {
	background: transparent;
	border: none;
	margin: 0;
	padding: 0;
	cursor: pointer;
}

.btn-dark-cyan,
.btn-transparent-bg {
	position: relative;
	font-family: Nexa;

	& > img {
		height: 11vh;
	}

	& > span {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;

		width: fit-content;
		height: fit-content;

		font-size: 3vh;
	}
}

.btn-transparent-bg {
	color: white;
}

.btn {
	position: relative;

	display: flex;
	justify-content: center;
	align-items: center;

	background: #4EA3BA;
	color: black;
	border: 4px solid white;

	border-radius: 16px;

	font-size: 15px;
	font-weight: bold;

	padding: 15px;

	.highlight-short,
	.highlight-long {
		position: absolute;
		background: white;
		top: 6px;
		height: 4px;

		border-radius: 2px;
	}

	.highlight-short {
		width: 10%;
		left: 10%;
	}

	.highlight-long {
		width: 30%;
		left: 30%;
	}

	.shadow-short,
	.shadow-long {
		position: absolute;
		background: #275985;
		bottom: 6px;
		height: 4px;
		border-radius: 2px;
	}

	.shadow-long {
		width: 30%;
		right: 30%;
	}

	.shadow-short {
		width: 10%;
		right: 10%;
	}
}

.lighter-container {
	background: #02825f;
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
	padding: 3vh 6vw;
}

.start-player-list {
	display: flex;
	flex-direction: column;
	align-items: center;

	.player {
		width: 100%;

		display: flex;
		justify-content: space-between;
		align-items: center;

		font-size: 3vh;

		.right-group {
			display: flex;
			align-items: center;

		}

		button {
			margin-left: 1vw;
	
			& > img {
				height: 6vh;
			}
		}
	}
}

.player-manager {
	display: flex;
	flex-direction: column;
	align-items: center;

	& > .player {
		width: 100%;

		display: flex;
		justify-content: space-between;
		align-items: center;

		font-size: 3vh;

		button > img {
			height: 6vh;
		}
	}
}

.vocabulary-list {
	display: flex;
	flex-direction: column;
	align-items: center;

	.word-container {
		position: relative;

		width: 100%;
		height: 38vh;

		.bg {
			position: absolute;
			width: 100%;
			height: 100%;
		}

		.scrollable-area {
			position: relative;
			width: calc(100% - 8vw);
			height: 100%;

			padding: 2vh 4vw;
	
			overflow-y: scroll;
	
			& > div {
				position: relative;
			}
	
			& > .empty-list {
				display: flex;
				justify-content: center;
				align-items: center;
	
				width: 100%;
				height: 100%;
			}
	
			& > .word {
				display: flex;
				justify-content: space-between;
				align-items: center;
				font-size: 3vh;
				color: black;
	
				height: 6vh;
	
				.right-group {
					display: flex;
					align-items: center;
	
					img {
						height: 6vh;
						margin-left: 2vw;
					}
				}
			}
		}		
	}

	
}

.letter-chain {
	display: flex;

	& > div {
		width: 40px;
		height: 40px;

		display: flex;

		& > .big-letter {
			font-size: 20px;
		}

		& > .value {
			align-self: flex-end;
		}
	}
}

.add-new-word {
	// background: green;

	.letter-chain {
		background: cornflowerblue;

		border: 1px solid black;
	}

	.multiplier-row {
		display: flex;

		& > div {
			display: flex;
			justify-content: center;
			align-items: center;

			border: 1px solid black;
			border-radius: 4px;
			width: 40px;
			height: 40px;
		}
	}
}

.footer {
	text-align: center;
}